
<template>
  <div>
    <!-- everything is comming from $store -->
    <ViewProduct></ViewProduct>
  </div>
</template>
<script>
import ViewProduct from "~/components/Viewed-Product";
export default {
  scrollToTop: true,
  components: {
    ViewProduct
  },
};
</script>
