<template>
  <div>
    <category :data="product" :categoryName="$route.params.subCategory"></category>
  </div>
</template>
<script>
import category from "~/components/category.vue";

export default {
  // layout:'blank',
  components: {
    category
  },
  data() {
    return {
      product: null
    };
  },
  methods: {
    getProductByTheCategory() {
      this.$axios
        .get("/api/v1/category/find-products", {
          params: {
            category: this.$route.params.subCategory
          }
        })
        .then(({ data }) => {
          this.product = data;
        });
    }
  },
  mounted() {
    this.getProductByTheCategory();
    console.log("::",this.$route);
  }
};
</script>
