<template>
  <div class="about">
    <div id="about_us">
      <section class="pr-3 pl-3 pb-5 pt-2">
        <v-container pa-0 grid-list-md text-xs-center>
          <v-layout row wrap>
            <v-flex>
              <h2
                class="lead font-weight-light display-2 pb-2 text--secondary text--lighten-5"
              >About unecem</h2>

              <p
                class="title font-weight-light"
              >Unecem e-trade is an online marketing website and a branch of Unecem Business Services Limited that markets, promotes and sensitize people about High-quality Made-in-Nigerian products , certified to have met international starndard.</p>
              <p
                class="title font-weight-light"
              >Recently, peoples perception about Made-In-Nigeria product has changed, as it is now on high demand, because its affordable and still of high quality to compare to it competitors.</p>
              <p
                class="title font-weight-light"
              >Therefore, unecem.com can be said to be a Made In Nigeria Online Marketplace....... Awesome Right?</p>

              <p
                class="title font-weight-light"
              >But the Good News is not just Buying this Quality and affordable Nigerian made products, but the fact that you can also make money using this platform.</p>
              <p class="title font-weight-light">
                That means that a User can
                <router-link to="/category/all">BUY</router-link>or
                <router-link to="/user/invest">INVEST,</router-link>or
                <router-link to="/category/all">BUY</router-link>and
                <router-link to="/user/invest">INVEST</router-link>on these products to make 5% of the initial capital. interesting right ?.
              </p>
              <p
                class="title font-weight-light"
              >But that is not all, when you refer some one to the site(as a User) using your referral link, you make 2.3% of the persons initial capital, withdrawable after each 5 referral...</p>
            </v-flex>
          </v-layout>
        </v-container>
      </section>
      <section class="pr-3 pl-3 pb-5 pt-3">
        <v-container pa-0 grid-list-md text-xs-center>
          <v-layout row wrap>
            <v-flex xs12 sm5 md5>
              <!-- <object type="image/svg+xml" class="misson-img" style="height: 100%">
                <img src="image.svg" />
              </object>-->
              <div class="svgs">
                <img class="bubble" src="~assets/bubble.svg?data" />
                <img class="mission" src="~assets/mission.svg?data" />
              </div>
            </v-flex>
            <v-flex xs12 sm7 md7>
              <h2 class="text-capitalize font-weight-light display-2">our mission</h2>
              <p class="title font-weight-light">
                Unecem e -Trade can simply be called a made in Nigeria Online Market Place with the mission of:
                Creating awareness on Quality Made-in- Nigeria products. Promoting and Marketing of this product for easy access around the nation and the world at large. Advertising, Sensitizing , informing and updating people of high quality and unique Nigerian made products.
                Creating wealth for unecem.com Users.
              </p>
            </v-flex>
          </v-layout>
        </v-container>
      </section>
    </div>
  </div>
</template>
<script>
export default {
  // middleware: "validate",
  // layout: "blank",
  scrollToTop: true,

  head: {
    title: "About Us - Company Overview"
  },
  data() {
    return { activeBtn: 1, showNav: true };
  },
  computed: {
    options() {
      return { duration: 600, offset: 80, easing: "easeInOutCubic" };
    }
  }
};
</script>
<style>
/* .misson-img {
  height: 300px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.awards-img {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-25px);
  width: 50px;
  height: 80px;
} */
.bubble {
  position: absolute;
  left: -50%;
}
.mission {
  position: absolute;
  top: -10%;
}
.svgs {
  position: relative;
  height: 600px;
}
</style>
