<template>
  <div>
    <v-container grid-list-xs>
      <v-layout
        row
        wrap
        :class="{'mt-0': $vuetify.breakpoint.smAndDown,'mt-10':$vuetify.breakpoint.mdAndUp,}"
      >
        <v-flex xs12 md8 pa-2>
          <h1 class="display-1 font-weight-light my-4">Send Us A Message</h1>
          <p class="body-1">
            We love
            talking to users.Have any questions, feedback or suggestions for us. Will be happy to hear from you
            . We will get back to you as soon as possible.
          </p>
          <v-layout row wrap>
            <v-form v-model="contactUsForm">
              <v-layout row wrap>
                <v-flex xs12 md6 pa-2>
                  <!-- last Name -->
                  <v-text-field
                    v-model="contactUs.name"
                    :rules="contactUsNameRules"
                    label="Name*"
                    required
                    class="form_inputs h"
                    outlined
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 md6 pa-2>
                  <v-text-field
                    class="form_inputs h"
                    outlined
                    v-model="contactUs.email"
                    :rules="contactUsEmailRules"
                    label="E-mail*"
                    required
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 md6 pa-2>
                  <!-- last Name -->
                  <v-text-field
                    v-model="contactUs.topic"
                    class="form_inputs h"
                    outlined
                    label="Topic"
                    hint="optional"
                    persistent-hint
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 md6 pa-2>
                  <!-- last Name -->
                  <v-text-field
                    v-model="contactUs.phone"
                    class="form_inputs h"
                    outlined
                    label="Phone Number"
                    hint="optional"
                    persistent-hint
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 md12 pa-2>
                  <v-textarea
                    outlined
                    solo
                    v-model="contactUs.message"
                    :rules="contactUsMessageRules"
                    label="write Your Message*"
                  ></v-textarea>
                </v-flex>
              </v-layout>
              <!-- <vue-recaptcha sitekey="6Ld8VrIUAAAAAEdXUuz9TU1kBKivUCrKudRSP15Z"></vue-recaptcha> -->
 
              <v-btn
                :disabled="!contactUsForm"
                large
                block
                color="primary"
                @click="contactUs_form()"
                class="primary--text text--lighten-5"
              >submite</v-btn>
            </v-form>
          </v-layout>
        </v-flex>
        <v-flex xs12 md4 pt-4>
          <v-card class="mx-auto" dark color="blue ligthen-1" max-width="400">
            <v-list-item two-line class="px-10 pt-10">
              <h1 class="display-1">Contact</h1>
            </v-list-item>

            <v-card-text class="px-10">
              <v-list color="blue">
                <v-list-item two-line>
                  <v-list-item-content>
                    <v-list-item-subtitle>Phone Support</v-list-item-subtitle>
                    <v-list-item-subtitle class="title font-weight-light white--text">+2348062508210</v-list-item-subtitle>8am - 7pm (Monday - Friday)
                    <br />8am - 5pm Weekends
                  </v-list-item-content>
                </v-list-item>
                <v-list-item two-line>
                  <v-list-item-content>
                    <v-list-item-subtitle>Send Us An Email</v-list-item-subtitle>
                    <v-list-item-subtitle
                      class="title font-weight-light white--text"
                    >unecemglobal@gmail.com</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item two-line>
                  <v-list-item-content>
                    <v-list-item-subtitle>Pay Us A Vist</v-list-item-subtitle>
                    <v-list-item-subtitle
                      class="title font-weight-light white--text"
                    >no5 sai street, Enugu Nigeria</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card-text>

            <v-divider></v-divider>
            <h5 class="headline px-10">Get In Touch</h5>
            <v-card-actions class="text-center px-10">
              <v-btn icon to="#">
                <v-icon>mdi-twitter</v-icon>
              </v-btn>
              <v-btn icon to="#">
                <v-icon>mdi-facebook</v-icon>
              </v-btn>
              <v-btn icon to="#">
                <v-icon>mdi-instagram</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import VueRecaptcha from "vue-recaptcha";
export default {
  head() {
    return {
      title: "Contact Us",
      script: [
        {
          src:
            "https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit"
        }
      ]
    };
  },
  components: {
    VueRecaptcha
  },
  data() {
    return {
      loading: !1,
      success: !1,
      error: !1,
      links: [
        "About Us",
        "Contact Us",
        "Terms of Use",
        "Services",
        "help",
        "Privacy Policy"
      ],
      contactUs: {
        name: null,
        email: null,
        phone: null,
        topic: null,
        message: null
      },
      contactUsForm: false,
      contactUsNameRules: [v => !!v || "Name is required"],
      contactUsEmailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ],
      contactUsTopicRules: [v => !!v || "Topic is required"],
      contactUsMessageRules: [v => !!v || "Message is required"]
    };
  },
  methods: {
    // [ "emailAddress", "topic", "fullName", "message" ]
    contactUs_form() {
      if (this.contactUsForm == true) {
        this.$axios
          .post("/api/v1/messages/user-create", {
            fullName: this.contactUs.name,
            emailAddress: this.contactUs.email,
            topic: this.contactUs.topic,
            message: this.contactUs.message,
            phone: this.phone
          })
          .then(res => {})
          .catch(e => {});
      }
    }
  }
};
</script>
<style>
</style>
