<template>
  <div pt-12>
    
    <v-container fluid>
      <Carousel></Carousel>
    </v-container>
    <v-container grid-list-xs>
      <v-layout row wrap align-center class="hidden-sm-and-down">
        <v-flex xs12>
          <h3>Least Deals</h3>
        </v-flex>
        <v-flex xs12 sm6 md4 lg3 v-for="product in products" :key="product.id" class="pa-1">
          <Product :data="product"></Product>
        </v-flex>
      </v-layout>
      <v-slide-group v-model="model" class="hidden-md-and-up">
        <v-slide-item v-for="product in products" :key="product.id">
          <div class="w-half pa-2">
            <Product :data="product"></Product>
          </div>
        </v-slide-item>
      </v-slide-group>
    </v-container>
    <section
      class="grey lighten-4"
      style="border-top: 1px solid #eee !important;border-bottom: 1px solid #eee !important;"
    >
      <v-container>
        <!-- <div class="box-center">
          <div class="border-r">Earn up to 5% when you Invest with Unecem</div>
          <div
            class="border-r"
          >Tell a friend about UNECEM and get some bouns on their purchase or Investment</div>
          <div class="border-r">Round-the-clock assistance for a smooth shopping experience.</div>
        </div>-->

        <v-container v-if="!_.isEmpty(getRecentlyViewedProducts)" fill-height grid-list-xs>
          <v-layout row wrap align-center>
            <v-flex xs12>
              <h3>Product History</h3>
            </v-flex>
            <v-flex
              xs12
              sm6
              md4
              lg3
              v-for="product in getRecentlyViewedProducts"
              :key="product.id"
              class="pa-1"
            >
              <Product :data="product"></Product>
            </v-flex>
          </v-layout>
        </v-container>

        <v-layout row wrap justify-center text-center pa-4>
          <v-flex xs12 sm6 md4 class="pa-2" v-for="card in cardLinks" :key="card.title">
            <v-alert height="200" max-height="250" class="pt-1" outlined color="grey darken-1">
              <center>
                <v-icon class="ma-1 text-center" size="70" color=" darken-5">{{ card.icon }}</v-icon>
              </center>
              <h3 class="font-weight-bold text-center">{{ card.title }}</h3>
              <p>{{ card.text }}</p>
            </v-alert>
          </v-flex>
        </v-layout>
      </v-container>
    </section>
  </div>
</template>

<script>
import Product from "~/components/Product.vue";
import Carousel from "~/components/Carousel.vue";
import { mapState, mapActions, mapGetters } from "vuex";
// import SkeletonCard from "~/components/skeleton-card/CardSkeleton.vue";
export default {
  scrollToTop: true,

  components: {
    Product,
    Carousel
    // SkeletonCard
  },

  computed: {
    ...mapGetters({
      getRecentlyViewedProducts: "products/getRecentlyViewedProducts"
    }),
    ...mapState({
      products: state => state.products.all
    })
  },
  data() {
    return {
      model: null,
      cardLinks: [
        {
          icon: "mdi-coin",
          title: "Earn With US",
          text: "Earn up to 5% when you Invest with Unecem",
          color: "green"
        },
        {
          icon: "mdi-account-convert",
          title: "Refer a friend",
          text:
            "Tell a friend about UNECEM and get some bouns on their purchase or Investment",
          color: "green"
        },
        {
          icon: "mdi-account-network",
          title: "24/7 Help Center",
          text: "Round-the-clock assistance for a smooth shopping experience",
          color: "green"
        }
      ]
      // products: false
    };
  },
  mounted() {
    this.getAllProducts();
    // this.syncUserCart()
  },
  methods: {
    ...mapActions({
      syncUserCart: "user/syncUserCart",
      getAllProducts: "products/getAllProducts"
    })
  }
};
</script>
<style>
.border-r {
  float: left;
  width: 17%;
  padding-top: 40px;
  padding: 40px 0 10px;
  min-height: 228px;
  text-align: center;
  border-right: 1px solid rgb(63, 60, 60);
}
.border-right:last-child {
  border-left: none;
}
.box-center {
  display: flex;
}
.w-half {
  width: 270px;
}
</style>
