<template>
  <div>
    <div id="privacy">
      <v-container grid-list-xs class="mt-1" v-html="privacy">{{privacy}}</v-container>
    </div>
  </div>
</template>
<script>
export default {
  head() {
    return {
      title: "Privacy Policy",
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: "Terms",
          name: "Terms & Conditions",
          content: "Unecem Conditions"
        }
      ]
    };
  },
  data() {
    return {
      privacy: ""
    };
  },
  methods: {
    getPrivacyContent() {
      this.$axios.get("/api/v1/legal/get-privacy").then(({ data }) => {
        this.privacy = data.content;
      });
    }
  },
  // mounted() {},
  beforeMount() {
    this.getPrivacyContent();
  }
};
</script>
