<template>
  <div>
    <div id="terms" class>
      <v-container grid-list-xs class="trms" v-html="terms"></v-container>
    </div>
  </div>
</template>
<script>
export default {
  head() {
    return {
      title: "Terms & Conditions",
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: "Terms",
          name: "Terms & Conditions",
          content: "Unecem Conditions"
        }
      ]
    };
  },
  data() {
    return {
      terms: ""
    };
  },
  methods: {
    getTermsContent() {
      this.$axios.get("/api/v1/legal/get-terms").then(({ data }) => {
        this.terms = data.content;
      });
    }
  },
  // mounted() {
  // },
  beforeMount() {
    this.getTermsContent();
  }
};
</script>
<style>
.trms h1 {
  font-size: 80px !important;
  font-weight: 300;
  line-height: 1 !important;
  letter-spacing: -0.04em !important;
  font-family: "Roboto", sans-serif !important;
}
.trms h2 {
  font-size: 50px !important;
  font-weight: 400;
  line-height: 1.35 !important;
  letter-spacing: -0.02em !important;
  font-family: "Roboto", sans-serif !important;
}
.trms h3 {
  font-size: 40px !important;
  font-weight: 400;
  line-height: 48px !important;
  letter-spacing: normal !important;
  font-family: "Roboto", sans-serif !important;
}
.trms h4 {
  font-size: 30px !important;
  font-weight: 400;
  line-height: 40px !important;
  letter-spacing: normal !important;
  font-family: "Roboto", sans-serif !important;
}
.trms h5 {
  font-size: 25px !important;
  font-weight: 400;
  line-height: 32px !important;
  letter-spacing: normal !important;
  font-family: "Roboto", sans-serif !important;
}
.trms h6 {
  font-size: 20px !important;
  font-weight: 500;
  line-height: 1 !important;
  letter-spacing: 0.02em !important;
  font-family: "Roboto", sans-serif !important;
}
blockquote {
  padding: 16px 0 16px 24px;
  font-size: 18px;
  font-weight: 300;
}
</style>
