<template>
  <div>
    <viewProduct :dataObj="product"></viewProduct>
  </div>
</template>
<script>
import viewProduct from "~/components/Viewed-Product";
export default {
  scrollToTop: true,

  components: {
    viewProduct
  },
  head() {
    return {
      title: this.title
    };
  },
  data() {
    return {
      product: [],
      title: "product"
    };
  },
  methods: {
    getProduct() {
      this.$axios
        .get("/api/v1/product/find", {
          params: {
            shortName: this.$route.params.slug
          }
        })
        .then(({ data }) => {
          console.log(data)
          this.product = data;

          this.title = 'data.name';
          debugger
          console.log();
        })
        .catch(error => {});
    }
  },
  computed: {
    // title() {
    //   return this.$route.params.slug;
    // }
  },
  mounted() {
    this.getProduct();
    // console.log(""+this.$router)
  }
};
</script>
