@import "~vuetify/src/styles/styles.sass";
// @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif !important;
}
// The variables you want to modify
$body-font-family: "Montserrat", sans-serif !important;
// For updating SASS lists
// $material-light: map-merge(
//   $material-light,
//   (
//     cards: blue
//   )
// );

// $btn-border-radius: 17px;
// .kkk {
//   color: red;
// }
// $grid-breakpoints:
// $grid-breakpoints: map-merge(
//   $grid-breakpoints,
//   (
//     xs: 0,
//     sm: 576px,
//     md: 768px,
//     lg: 992px,
//     xl: 1200px
//   )
// );
