<template>
  <v-container>
    <v-layout justify-center align-center>
      <!-- <v-sheet :img="require('@/assets/chain/bkg.svg')">..</v-sheet> -->
      <!-- <v-layout justify-center> -->
      <v-snackbar class="text-center" color="error" v-model="snackbar.key" bottom left multi-line>
        {{ snackbar.text }}
        <v-btn text @click="snackbar.key = false" icon class="secondary">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-snackbar>
      <v-card width="450" outlined class="text-center lighten-5">
        <!-- <v-progress-linear class="my-0" v-if="loading" :indeterminate="true"></v-progress-linear> -->
        <div class="text-muted mb-3 mt-5">
          <h3 class="display-2 primary-title">Sign in</h3>with your Account
        </div>
        <v-divider></v-divider>
        <v-card-text>
          <v-form v-model="valid">
            <v-text-field
              outlined
              v-model.trim="email"
              :rules="emailRules"
              label="E-mail"
              required
              focus
            ></v-text-field>
            <v-text-field
              outlined
              type="password"
              v-model.trim="password"
              :rules="passwordRules"
              label="Password"
              required
            ></v-text-field>
            <v-btn
              id="doLogin"
              depressed
              rounded
              :loading="loading"
              :disabled="!valid"
              color="primary"
              @click="doLogin()"
              block
            >Login</v-btn>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn to="/auth/signup" color="secondary" text>Create account</v-btn>
          <v-btn color="secondary" text >Forgot Password</v-btn>
        </v-card-actions>
      </v-card>
      <!-- </v-layout> -->
    </v-layout>
  </v-container>
</template>
<script>
import { mapState } from "vuex";
export default {
  layout: "blank",
  computed: {
    ...mapState(["user"])
  },
  head: {
    title: `Login `
  },
  data() {
    return {
      valid: false,
      snackbar: {
        key: false,
        text: "Sorry, and unexpected error occured"
      },
      loading: false,
      err: "",
      password: "",
      passwordRules: [v => !!v || "Password is required"],
      email: "",
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ]
    };
  },
  mounted() {},
  methods: {
    doLogin() {
      if (this.valid) {
        this.$axios
          .post("/api/v1/entrance/login", {
            emailAddress: this.email,
            password: this.password
          })
          .then(({ data }) => {
            this.loading = false;
            this.$store.commit("SET_USER", data);
            this.$router.push('/');
          })
          .catch(error => {
            this.loading = false;
            this.snackbar.key = true;
            if (error.response.status > 400) {
              this.snackbar.text =
                "The provided email or password combination does not match any user in our database, please check and try again.";
            }
          });
      }
    }
  }
};
</script>
