<template>
  <div>
    <v-container grid-list-md>
      <v-layout justify-center>
        <!--  -->
        <v-snackbar
          color="warning"
          class="text-center"
          :timeout="12000"
          v-model="snackbar.key"
          bottom
          left
          multi-line
        >
          {{ snackbar.text }}
          <v-btn text @click="snackbar.key = false" icon>
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-snackbar>
        <v-card outlined width="450" class="text-center lighten-5">
          <!-- <v-progress-linear class="my-0" v-if="loading" :indeterminate="true"></v-progress-linear> -->
          <v-card-title class="text-center pa-5">
            <h3 class="display-2 font-weight-thin primary-title text-center">Signup</h3>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-form v-model="valid">
              <v-text-field
                outlined
                v-model.trim="fullName"
                :rules="fullNameRules"
                label="Full Name"
                :counter="20"
                required
              ></v-text-field>
              <v-text-field
                outlined
                v-model.trim="email"
                :rules="emailRules"
                label="E-mail"
                required
              ></v-text-field>

              <v-text-field
                outlined
                v-model.trim="password"
                :rules="passwordRules.required"
                :type="showPw ? 'text' : 'password'"
                name="input-10-2"
                label="Enter Password"
                value="654321"
                class="input-group--focused"
              ></v-text-field>

              <v-text-field
                outlined
                v-model.trim="confirmPassword"
                :rules="passwordRules.confirmed"
                :type="showPw ? 'text' : 'password'"
                name="input-10-2"
                label="Confirm Password"
                value="654321"
                class="input-group--focused"
              ></v-text-field>

              <v-btn
                :loading="loading"
                :disabled="!valid"
                rounded
                depressed
                color="primary"
                @click="doSignup()"
                block
              >Signup</v-btn>
            </v-form>
            <small>
              Signing up means that you're ok with our
              <router-link
                style="text-decoration:none;"
                to="/about/terms-of-service"
              >Terms Of Service.</router-link>
            </small>
            <br />
          </v-card-text>
          <v-card-actions>
            <router-link style="text-decoration:none;" to="/auth/login">Already have an account?</router-link>
          </v-card-actions>
        </v-card>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
export default {
  layout: "blank",
  head() {
    return {
      title: "Sigin Up"
    };
  },
  data() {
    return {
      valid: false,
      snackbar: {
        key: false,
        text: "Sorry, an unexpected error occured, please try later."
      },
      loading: false,
      err: "",
      fullName: "",
      fullNameRules: [
        v => !!v || "Fullname is required",
        v => v.length <= 20 || "Fullname must be less than 20 characters"
      ],
      password: "",
      confirmPassword: "",
      // show password
      showPw: false,

      passwordRules: {
        required: [v => !!v || "Password is required"],
        confirmed: [v => v == this.password || "Password's don't match"]
      },
      email: "",
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ],
      phone: "",
      phoneRules: [
        v => !!v || "Phone is required",
        v => v.length <= 13 || "Phone is invalid"
      ]
    };
  },
  mounted() {},
  methods: {
    doSignup() {
      this.$axios
        .post("/api/v1/entrance/signup", {
          emailAddress: this.email,
          password: this.password,
          fullName: this.fullName,
          ref: this.$route.query ? this.$route.query.ref : ""
          // ref: () => {
          //   if (this.$route.query) {
          //     return this.$route.query.ref;
          //   } else {
          //     return;
          //   }
          // }
        })
        .then(({ data }) => {
          this.loading = false;
          this.$store.commit("setUser", data);
          this.$router.push("/");
        })
        .catch(error => {
          this.loading = false;
          this.snackbar.key = true;
          switch (error.response.status) {
            case 401:
              this.snackbar.text =
                "The provided email or password combination does not match any user in our database, please check and try again.";
              break;
            case 409:
              this.snackbar.text =
                "Sorry, the provided Email Address is currently in use by another user, please check your email address and try again";
              break;
            default:
              this.snackbar.text =
                "Sorry, an error was thrown without an actual value from the server - this should never happen";
              break;
          }
          // if (error.response.status == 401) {
          // } else if (error.response.status == 409) {
          //   this.snackbar.text =
          //     "Some provided details is currently in use by another user";
          // }
        });
    }
  }
};
</script>

<style>
.boxed {
  background-color: white;
  border: 1px solid !important;
  border-color: rgba(107, 107, 107, 0.555) !important;
}
</style>
