<template>
  <div>
    <v-container fluid grid-list-xs>
      <div class="mt-5">
        <v-breadcrumbs class="pl-0" :items="breadcrumbs">
          <template v-slot:divider>
            <v-icon>mdi-keyboard-backspace mdi-rotate-180</v-icon>
          </template>
        </v-breadcrumbs>
        <h2 class="display-1 font-weight-light hidden-sm-and-down">
          Search Result -
          <span class="headline">Home And Kitchen</span>
        </h2>
        <h2 class="title text-xs-center font-weight-light hidden-md-and-up">
          Search Result -
          <span class="headline">Home And Kitchen</span>
        </h2>
      </div>
      <ProductShowCase></ProductShowCase>
      <!-- <div class="text-center mb-5">
        <v-pagination v-model="page" :length="15" :total-visible="7"></v-pagination>
      </div>-->
    </v-container>
  </div>
</template>
<script>
// TODO: get products from the server
import ProductShowCase from "~/components/Product-show-Case.vue";

export default {
  layout: "blank",
  scrollToTop: true,

  components: {
    ProductShowCase
  },
  data() {
    return {
      breadcrumbs: [
        {
          text: "Home",
          disabled: false,
          to: "/middleware"
        },
        {
          text: "Product",
          disabled: false,
          to: "/products/?from=" + Date.now() // usually its new Url() || location.href
        },
        {
          text: "Category",
          disabled: false,
          to: "/products/category"
        },
        {
          text: "Jewels",
          disabled: false,
          to: "/products/category/jewels"
        },
        {
          text: "Golddax Product Example",
          disabled: true
        }
      ]
    };
  }
};
</script>
<style>
</style>    
