<template>
  <div>
    <v-app id="inspire">
      <v-content class>
        <nuxt></nuxt>
      </v-content>
      <siteFooter></siteFooter>
    </v-app>
  </div>
</template>
<script>
import siteFooter from "@/components/Footer";

export default {
  components: {
    siteFooter
  },
  data() {
    return {};
  }
};
</script>