<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" fixed :clipped="$vuetify.breakpoint.lgAndUp" app>
      <v-list dense shaped>
        <v-list-item>
          <v-list-item-avatar>
            <v-img src="https://cdn.vuetifyjs.com/images/john.png"></v-img>
          </v-list-item-avatar>
        </v-list-item>

        <v-list-item link>
          <v-list-item-content>
            <v-list-item-title class="title">John Leider</v-list-item-title>
            <v-list-item-subtitle>john@vuetifyjs.com</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-action>
            <v-icon>mdi-menu-down</v-icon>
          </v-list-item-action>
        </v-list-item>
        <v-divider></v-divider>
        <template v-for="item in items">
          <!-- <v-layout v-if="item.heading" :key="item.heading" align-center>
            <v-flex xs6>
              <v-subheader v-if="item.heading">{{ item.heading }}</v-subheader>
            </v-flex>
        
          </v-layout>-->

          <v-list-item :key="item.title" @click="1" :to="item.link" class="title">
            <!-- <v-divider></v-divider> -->
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <!-- <v-list-item-content>
              <v-list-item-title class="title">{{ item.title }}</v-list-item-title>
            </v-list-item-content>-->
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
      <template v-slot:append>
        <div class="pa-2">
          <v-btn block tile color="warning">Logout</v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="blue darken-3" dark>
      <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <span class="hidden-sm-and-down">Unecem</span>
      </v-toolbar-title>
      <v-text-field
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="mdi-magnify"
        label="Search"
        class="hidden-sm-and-down"
      ></v-text-field>
      <v-spacer></v-spacer>

      <!-- LOGGED IN USER MENU -->
      <v-menu v-model="menu" :close-on-content-click="false" :nudge-width="200" offset-x>
        <template v-slot:activator="{ on }">
          <v-btn v-on="on" icon large>
            <v-avatar size="32px" item>
              <v-img src="https://cdn.vuetifyjs.com/images/logos/logo.svg" alt="Vuetify"></v-img>
            </v-avatar>
          </v-btn>
        </template>
        <v-card>
         <v-card>
           <!--  -->
         </v-card>
          <v-divider></v-divider>
        </v-card>
      </v-menu>
      <!--// LOGGED IN USER MENU -->
      <v-btn color="white primary--text" to="/dashboard/investment">invest</v-btn>
      <v-btn icon>
        <v-icon>mdi-apps</v-icon>
      </v-btn>
    </v-app-bar>
    <v-content>
      <!--INJECT NUXT -->
      <nuxt></nuxt>
      <!--//INJECT NUXT -->
    </v-content>
  </v-app>
</template>

<script>
export default {
  props: {
    source: String
  },
  data: () => ({
    dialog: false,
    drawer: null,
    items: [
      { icon: "mdi-account", title: "Dashboard", link: "/dashboard/" },
      { icon: "mdi-history", title: "My Orders", link: "/dashboard/orders" },
      {
        icon: "mdi-content-copy",
        title: "Profile",
        link: "/dashboard/profile"
      },
      {
        icon: "mdi-apple-keyboard-command",
        "icon-alt": "mdi-apple-keyboard-control",
        title: "Invest",
        link: "/dashboard/investment"
      }
    ],
    fav: true,
    menu: false,
    message: false,
    hints: true
  })
};
</script>
<style>
a {
  text-decoration: none;
}
</style>
