<template>
  <v-app id="inspire">
    <v-app-bar app class="hidden-sm-and-down" color="blue ligthen-3" dark>
      <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
        <!-- <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon> -->
        <nuxt-link to="/">
          <v-avatar size="32px" item>
            <v-img src="https://cdn.vuetifyjs.com/images/logos/logo.svg" alt="Vuetify"></v-img>
          </v-avatar>
          <span class="hidden-sm-and-down white--text">Unecem</span>
        </nuxt-link>
      </v-toolbar-title>

      <v-spacer></v-spacer>
      <v-autocomplete
        v-model="select"
        :items="items"
        :loading="isLoading"
        :search-input.sync="search"
        chips
        clearable
        hide-details
        hide-selected
        item-text="name"
        item-value="symbol"
        label="Search for a coin..."
        solo
      >
        <template v-slot:no-data>
          <v-list-item>
            <v-list-item-title>
              Search for
              <strong>products</strong>
            </v-list-item-title>
          </v-list-item>
        </template>
        <!-- <template v-slot:selection="{ attr, on, item, selected }">
            <v-chip
              v-bind="attr"
              :input-value="selected"
              color="blue-grey"
              class="white--text"
              v-on="on"
            >
              <v-icon left>mdi-coin</v-icon>
              <span v-text="item.name"></span>
            </v-chip>
        </template>-->
        <template v-slot:item="{ item }">
          <!-- <v-list-item-avatar
              color="indigo"
              class="headline font-weight-light white--text"
          >{{ item.name.charAt(0) }}</v-list-item-avatar>-->
          <v-list-item-content>
            <v-list-item-title v-text="item.name"></v-list-item-title>
            <v-list-item-subtitle v-text="item.symbol"></v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-action>
            <v-icon>mdi-coin</v-icon>
          </v-list-item-action>
        </template>
      </v-autocomplete>
      <!-- <v-text-field flat solo-inverted hide-details prepend-inner-icon="mdi-magnify" label="Search"></v-text-field> -->
      <v-spacer></v-spacer>
      <!-- LOGGED IN USER MENU -->

      <v-menu
        v-model="accountMenu"
        v-if="!_.isEmpty(me)"
        :close-on-content-click="false"
        :nudge-width="100"
        offset-x
      >
        <template v-slot:activator="{ on }">
          <v-btn
            color="white primary--text"
            dark
            depressed
            v-on="on"
            class="mx-3"
            v-if="!_.isEmpty(me)"
          >Account</v-btn>
        </template>

        <v-card>
          <v-list>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>{{user.fullName}}</v-list-item-title>
                <v-list-item-subtitle>{{user.emailAddress}}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item to="/dashboard">
              <v-list-item-content>
                <v-list-item-title>dashboard</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item to="/dashboard/orders">
              <v-list-item-content>
                <v-list-item-title>orders</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item to="/dashboard/investment">
              <v-list-item-content>
                <v-list-item-title>Invest</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item to="/dashboard/profile">
              <v-list-item-content>
                <v-list-item-title>profile</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="logout">logout</v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
      <!--  -->

      <v-btn dark color="red" depressed @click="logout" v-if="!_.isEmpty(me)">Log Out</v-btn>
      <!--// LOGGED IN USER MENU -->
      <!-- dashbord btn -->
      <!-- sheet for login -->
      <!-- <v-bottom-sheet max-width="600px" v-model="loginSheet" inset v-if="_.isEmpty(me)">
        <template v-slot:activator="{ on }">
          <v-btn color="purple" dark v-on="on">login</v-btn>
        </template>
        <v-sheet class="text-center">
          <v-btn class="my-6" depressed color="error" @click="loginSheet = !loginSheet">close</v-btn>
          <login></login>
        </v-sheet>
      </v-bottom-sheet>-->
      <v-btn color="purple" dark @click="loginSheet = !loginSheet">login</v-btn>

      <!--  -->
      <v-badge right overlap color="purple">
        <template v-slot:badge>
          <span>{{ cartLength }}</span>
        </template>
        <v-btn small fab text to="/cart/overview">
          <v-icon color="white">mdi-cart</v-icon>
        </v-btn>
      </v-badge>
      <template v-slot:extension class>
        <v-sheet dark color="blue ligthen-3 category-view " width="100%" class="py-1 px-1">
          <!-- justify-space-between row -->
          <v-chip-group
            mandatory
            active-class="blue--text text--darken-3"
            next-icon="mdi-chevron-right"
            prev-icon="mdi-chevron-left"
          >
            <v-chip
              dark
              active-class="white"
              color="blue darken-3 category-chips text-center"
              v-for="tag in tags"
              :key="tag"
              :to="'/'+_.snakeCase(tag,'_')"
            >{{ tag }}</v-chip>
          </v-chip-group>
        </v-sheet>
      </template>
    </v-app-bar>
    <!-- MOBILE WHITE APP HEADER -->
    <v-card color="grey lighten-4" flat tile class="hidden-md-and-up">
      <v-toolbar flat>
        <v-btn icon @click="$router.back()" v-if="shouldChangeLayout">
          <v-icon>mdi-keyboard-backspace</v-icon>
        </v-btn>
        <v-app-bar-nav-icon v-else @click.stop="NavModal = !NavModal"></v-app-bar-nav-icon>

        <v-toolbar-title>
          <nuxt-link to="/">
            <v-avatar size="32px" item>
              <v-img src="https://cdn.vuetifyjs.com/images/logos/logo.svg" alt="Vuetify"></v-img>
            </v-avatar>
          </nuxt-link>
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn icon to="/">
          <v-icon>mdi-home</v-icon>
        </v-btn>
        <v-menu
          v-model="menu"
          :close-on-content-click="false"
          v-if="!_.isEmpty(me)"
          :nudge-width="90"
          offset-x
        >
          <template v-slot:activator="{ on }">
            <!--  -->
            <v-btn v-if="!_.isEmpty(me)" icon v-on="on">
              <v-icon>mdi-apps</v-icon>
            </v-btn>
          </template>
          <v-card>
            <v-list>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>{{user.fullName}}</v-list-item-title>
                  <v-list-item-subtitle>{{user.emailAddress}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-divider></v-divider>
              <v-list-item to="/dashboard">
                <v-list-item-content>
                  <v-list-item-title>dashboard</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item to="/dashboard/orders">
                <v-list-item-content>
                  <v-list-item-title>orders</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item to="/dashboard/investment">
                <v-list-item-content>
                  <v-list-item-title>Invest</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item to="/dashboard/profile">
                <v-list-item-content>
                  <v-list-item-title>profile</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn text @click="logout">logout</v-btn>
            </v-card-actions>
          </v-card>
        </v-menu>
        <v-badge right overlap color="purple">
          <template v-slot:badge>
            <span>{{ cartLength }}</span>
          </template>
          <v-btn small fab icon text to="/cart/overview">
            <v-icon>mdi-cart</v-icon>
          </v-btn>
        </v-badge>
      </v-toolbar>
      <v-card-text class="pa-2">
        <!-- <v-autocomplete
          height="30"
          clearable
          cache-items
          hide-details
          deletable-chips
          :open-on-clear="false"
          label="search products, categories"
          :items="searchItems"
          filled
          flat
        ></v-autocomplete>-->
        <v-autocomplete
          v-model="select"
          :loading="isLoading"
          :items="items"
          :search-input.sync="search"
          cache-items
          class="mx-4"
          flat
          hide-no-data
          hide-details
          label="What state are you from?"
          solo-inverted
        ></v-autocomplete>
      </v-card-text>
    </v-card>
    <!--// MOBILE WHITE APP HEADER -->
    <!-- sidebar for small screens -->
    <v-dialog
      scrollable
      v-model="NavModal"
      class="hidden-md-and-up"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card flat class="no-rad hidden-md-and-up">
        <v-card-title class="pa-1">
          <v-toolbar flat color="white">
            <v-btn icon @click="drawer = false,NavModal=false">
              <v-icon>mdi-keyboard-backspace</v-icon>
            </v-btn>
            <!-- <v-toolbar-title>Filter</v-toolbar-title> -->
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn icon text>
                <v-icon>mdi-home</v-icon>
              </v-btn>
            </v-toolbar-items>
            <v-toolbar-items>
              <v-btn icon text>
                <v-icon>mdi-cart</v-icon>
              </v-btn>
            </v-toolbar-items>
          </v-toolbar>
        </v-card-title>

        <v-divider></v-divider>
        <v-card-text style="height: 300p;">
          <v-container grid-list-xs>
            <v-layout row wrap justify-center>
              <v-flex xs4 px-2>
                <v-btn width="100%" to="/auth/login">login</v-btn>
              </v-flex>
              <v-flex xs4 px-2>
                <v-btn width="100%" to="/auth/signup">Signup</v-btn>
              </v-flex>
              <v-flex xs4 pt-1>
                <v-btn width="100%" to="/dashboard/investment">Invest</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
          <v-list subheader>
            <v-subheader>Categories</v-subheader>

            <v-list-item v-for="item in category" :key="item.title" @click="1">
              <v-list-item-content>
                <v-list-item-title v-text="item.title"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
          </v-list>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-navigation-drawer v-model="loginSheet" absolute temporary right width="400">
      <login></login>
    </v-navigation-drawer>
    <!-- v-if="$nuxt.isOffline" -->
    <v-content :class="{'pa-0': $vuetify.breakpoint.smAndDown}" class="white">
      <!--INJECT NUXT -->
      <nuxt></nuxt>
      <!--//INJECT NUXT -->
      <!-- -->
    </v-content>
    <siteFooter></siteFooter>

    <user></user>
  </v-app>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import user from "@/components/Sync-user";
import login from "../pages/auth/login";
import siteFooter from "@/components/Footer";
export default {
  props: {
    source: String
  },
  components: {
    user,
    login,
    siteFooter
  },
  data: () => ({
    accountMenu: false,
    dialog: false,
    loginSheet: false,
    NavModal: false,
    drawer: null,

    category: [
      { title: "Phones", link: "/phone/" },
      { title: "Cars", link: "/cars/" },
      { title: "Books", link: "/books/" }
    ],
    fav: true,
    menu: false,
    message: false,
    hints: true,
    //
    shouldChangeLayout: false,
    //
    tags: [
      "All Categories",
      "Special Product",
      "Jeweries",
      "Computers Accessories",
      "Phones & Tablet",
      "Home And Kitchen",
      "Food",
      "Shopping",
      "Art",
      "Tech",
      "Creative Writing"
    ],
    //
    isLoading: false,
    items: [],
    search: null,
    select: null
  }),
  computed: {
    ...mapGetters({
      cartLength: "cart/cartLength",
      cartTotalPrice: "cart/cartTotalPrice"
    }),
    ...mapState({
      products: state => state.products.all,
      me: state => state.user.id,
      user: state => state.user.me
    })
  },
  mounted() {
    this.$store.dispatch("products/getAllProducts");
  },
  methods: {
    ...mapActions({
      logout: "user/logout"
    }),
    searchInput() {
      this.$axios
        .get("/product/search-inputs", {
          search: this.searchQueary
        })
        .then(({ data }) => {
          this.searchItems = data;
        });
    },
    // querySelections(val) {
    //   this.loading = true;
    //   // Simulated ajax query
    //   // if (val) {
    //   //   // } else {
    //   //   this.isLoading = true;
    //   //   //           "http://localhost:1337/api/v1/product/search-inputs?search=" +

    //   //   // Lazily load input items
    //   //   fetch(
    //   //     "http://localhost:1337/api/v1/product/search-inputs?search=" + val
    //   //   )
    //   //     .then(data => data.json())
    //   //     .then(data => {
    //   //       this.items = data;
    //   //     })
    //   //     .catch(err => {
    //   //       console.log(err);
    //   //     })
    //   //     .finally(() => (this.isLoading = false));
    //   // }
    //   setTimeout(() => {
    //     this.items = this.tags.filter(e => {
    //       return (e || "").toLowerCase().indexOf((val || "").toLowerCase()) > -1;
    //     });
    //     this.loading = false;
    //   }, 500);
    // }\\
    querySelections(v) {
      this.loading = true;
      // Simulated ajax query
      setTimeout(() => {
        this.items = this.tags.filter(e => {
          return (e || "").toLowerCase().indexOf((v || "").toLowerCase()) > -1;
        });
        this.loading = false;
      }, 500);
    }
  },

  watch: {
    $route(to, from, next) {
      if (to.name != "index") {
        this.shouldChangeLayout = true;
      } else {
        this.shouldChangeLayout = false;
      }
    },

    search(val) {
      val && val !== this.select && this.querySelections(val);
    }

    // search(val) {
    //   val && val !== this.select && this.querySelections(val);
    // }
  }
};
</script>
<style>
a {
  text-decoration: none;
}
.no-rad {
  border-radius: 0% !important;
}
.v-toolbar__extension {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.v-sheet.blue.category-view {
  border-radius: 0px !important;
}
.category-chips {
  min-width: 150px;
}
.center {
  /* position: relative; */
  left: 50%;
  transform: translateX(-50%);
}
/* .v-slide-group__next {
  color: white !important;
}
.v-slide-group__prev {
  color: white !important;
} */
</style>
