<template>
  <v-app dark class="text-center">
    <div v-if="!error">
      <h1>offline</h1>
    </div>
    <div v-else-if="error.statusCode === 404">
      <v-container grid-list-md>
        <v-layout row wrap justify-center>
          <v-flex xs12 md6>
            <v-icon size="200">mdi-ethernet-cable-off</v-icon>
            <h3 class="display-3">404</h3>Ok, there's good and bad news, the good news is, you can chat with a bot right here, the bad news, you can't vist other pages without an internet connection.
          </v-flex>
          <!-- {{error}} -->
        </v-layout>
      </v-container>
    </div>

    <h1 v-else>{{ otherError }}</h1>
    <v-divider inset></v-divider>
    <br />
    <NuxtLink to="/">Take Me Home</NuxtLink>
  </v-app>
</template>

<script>
export default {
  layout: "blank",
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  head() {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError;
    return {
      title
    };
  },
  data() {
    return {
      pageNotFound: "404 Not Found",
      otherError: "An error occurred"
    };
  },
  mounted() {
    // this.$axios
    //   .get("/csrfToken")
    //   .then(v => {
    //     console.log(v);
    //   })
    //   .catch(err => {
    //     // if (err.contains("ERR_CONNECTION_REFUSED")) {
    //     // }
    //     if (!err.response) {
    //       // network error
    //       console.log("offline");
    //     } else {
    //       console.log(err);
    //     }
    //   });
  }
};
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
