<template>
  <v-carousel class="ma-0" cycle height="400" hide-delimiter-background show-arrows-on-hover>
    <v-carousel-item v-for="(slide, i) in slides" :key="i" :src="items[i].src">
      <v-sheet :color="colors[i]" height="100%">
        <v-container fill-height>
          <v-layout align-center justify-center>
            <div :class="'display-1 animated '+randomAnim()">{{ slide }} Slide</div>
          </v-layout>
        </v-container>
      </v-sheet>
    </v-carousel-item>
  </v-carousel>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg"
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/sky.jpg"
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/bird.jpg"
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/planet.jpg"
        }
      ],
      colors: [
        "indigo",
        "warning",
        "pink darken-2",
        "red lighten-1",
        "deep-purple accent-4"
      ],
      slides: [
        "Unecem products are very durable and affordable",
        "Products ordered are delivered within 4 working days",
        "Invest a minimum of 50,000 NGN in our products and gain 5% of what so ever you invest,after 93 days",
        "Invite any one to register and get  2.3% of the referred user's Initial Capital"
      ],
      // anim: Math.floor(Math.random() * ["bounceInRight", "jello", "heartBeat", "fadeIn"].length) ,
      anim: ["bounceInRight", "jello", "zoomInUp", "fadeIn"],
      currentAnim: 0
    };
  },
  methods: {
    randomAnim() {
      return this.anim[Math.floor(Math.random() * this.anim.length)];
    }
  },
  mounted() {
    //. Make axios request here
    // this.$axios.get("/api/v1/carousel-url").then(({data})=>{
    //   // do something here
    // })
  }
};
</script>
<style>
</style>
