<template>
  <div>
    <v-container fluid grid-list-xs>
      <div class="mt-5">
        <v-breadcrumbs :items="breadcrumbsForCategory" v-if="_.isEmpty($route.params.subCategory)">
          <template v-slot:divider>
            <v-icon>mdi-keyboard-backspace mdi-rotate-180</v-icon>
          </template>
        </v-breadcrumbs>
        <v-breadcrumbs :items="fullBreadcrumbs" v-else></v-breadcrumbs>
        <h2
          class="display-1 font-weight-light hidden-sm-and-down"
        >{{_.startCase(_.toLower(categoryName))}}</h2>
        <h2
          class="title text-xs-center font-weight-light hidden-md-and-up"
        >{{_.startCase(_.toLower(categoryName))}}</h2>
      </div>
      <ProductShowCase :product="data"></ProductShowCase>
      <!-- <div class="text-center mb-5">
        <v-pagination v-model="page" :length="15" :total-visible="7"></v-pagination>
      </div>-->
    </v-container>
  </div>
</template>
<script>
// TODO: get products from the server
import ProductShowCase from "~/components/Product-show-Case.vue";
import { mapState } from "vuex";

export default {
  layout: "blank",
  scrollToTop: true,
  props: {
    data: {},
    categoryName: ""
  },
  components: {
    ProductShowCase
  },
  data() {
    return {
      breadcrumbsForCategory: [
        {
          text: "Home",
          disabled: false,
          to: "/"
        },
        {
          text: _.capitalize(_.startCase(this.$route.params.category)),
          disabled: false,
          to: "/" + this.$route.params.category // usually its new Url() || location.href
        }
      ],
      fullBreadcrumbs: [
        {
          text: "Home",
          disabled: false,
          to: "/"
        },
        {
          text: _.capitalize(_.startCase(this.$route.params.category)),
          disabled: false,
          to: "/" + this.$route.params.category + " " // usually its new Url() || location.href
        },
        {
          text: _.capitalize(_.startCase(this.$route.params.subCategory)),
          disabled: true
        }
      ]
    };
  },
  methods: {},
  computed: {
    ...mapState({
      product: state => state.products.thisProduct
    })
  }
};
</script>
<style>
</style>    
