<template>
  <!-- color="#f9f9f9"  -->
  <v-footer dark padless>
    <v-card width="100%" flat tile color="secondary" class="footer-color">
      <!-- <v-card-text></v-card-text> -->
      <v-card-text class="pt-0 white--text text--darken-3">
        <v-container>
          <v-layout row wrap justify-center>
            <v-flex xs12 md8>
              <v-layout row wrap justify-center>
                <v-flex xs12 sm6 md4>
                  <v-list class="transparent" light>
                    <v-list-group
                      color="white"
                      :value="$vuetify.breakpoint.smAndDown ? false : true"
                      :disabled="$vuetify.breakpoint.smAndDown ? false : true"
                      no-action
                      :append-icon="$vuetify.breakpoint.smAndDown ? $vuetify.icons.expand : ''"
                      eager
                    >
                      <template v-slot:activator>
                        <v-list-item-content>
                          <v-list-item-title v-text="'About Unecem'"></v-list-item-title>
                        </v-list-item-content>
                        <!-- <v-list-item-action>
                          <v-icon>{{aboutItem==true ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                        </v-list-item-action>-->
                      </template>

                      <v-list-item
                        v-for="item in aboutItems"
                        :key="item.title"
                        :to="item.link"
                        dense
                        class="pl-5"
                      >
                        <v-list-item-content>
                          <v-list-item-title v-text="item.title"></v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list-group>
                  </v-list>
                  <!-- <v-divider class="ma-0" light v-if="$vuetify.breakpoint.smAndDown"></v-divider> -->
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <!--  -->
                  <v-list class="transparent" light>
                    <v-list-group
                      color="white"
                      :value="$vuetify.breakpoint.smAndDown ? false : true"
                      :disabled="$vuetify.breakpoint.smAndDown ? false : true"
                      :append-icon="$vuetify.breakpoint.smAndDown ? $vuetify.icons.expand : ''"
                      no-action
                      eager
                    >
                      <template v-slot:activator>
                        <v-list-item-content>
                          <v-list-item-title v-text="'More Info'"></v-list-item-title>
                        </v-list-item-content>
                        <!-- <v-list-item-action>
                          <v-icon>{{aboutItem==true ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                        </v-list-item-action>-->
                      </template>

                      <v-list-item
                        v-for="(item, i) in moreInfomation"
                        :key="i"
                        :to="item.link"
                        dense
                        class="pl-5"
                      >
                        <v-list-item-content>
                          <v-list-item-title v-text="item.title"></v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list-group>
                  </v-list>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs12 md4>
              <h4 class="headline font-weight-light mb-3">LET'S CONNECT</h4>
              <div class="white--text">
                <v-btn fab color="primary ma-1">
                  <v-icon large>mdi-facebook</v-icon>
                </v-btn>
                <v-btn fab :size="$vuetify.breakpoint.smAndDown ? 50 : 100" color="primary ma-1">
                  <v-icon x-large>mdi-instagram</v-icon>
                </v-btn>
                <v-btn fab color="primary ma-1">
                  <v-icon x-large>mdi-twitter</v-icon>
                </v-btn>
              </div>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="secondary lighten-2 white--text text--darken-3 text-center">
        {{ new Date().getFullYear() }} —
        <strong>Unecem</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>
<script>
export default {
  data: () => ({
    aboutItems: [
      { title: "About Us", link: "/about" },
      { title: "Contact Us", link: "/contact-us" },
      { title: "Terms & Condition", link: "/terms" }
    ],
    moreInfomation: [
      { title: "Site Map", link: "/sitemap.xml" },
      { title: "Privacy Policy", link: "/privacy" }
    ]
  })
};
</script>
<style>
/* .footer-color {
  background: ;
} */
.footer-base {
  /* border-top: 1px solid rgb(228, 228, 228) !important; */
  /* background-color: #fafafa; */
  /* background-color: #8b8b8b; */
  /* background-color: #525151;  */
}
li {
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
}
</style>