<template>
  <div>
      <v-layout row wrap>
        <v-flex xs12 sm12 md6 v-for="a in 4" :key="a" class="pa-2">
          <v-card>
            <v-layout row wrap px-2>
              <v-flex xs12 sm4 >
                <v-img
                  height="180"
                  class="elevation-4"
                  src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
                ></v-img>
              </v-flex>
              <v-flex xs12 sm8>
                <div class="pl-3">
                  <h4 class="display-1 font-weight-light">Cafe Badilico</h4>
                  <p class="headline grey--text text--darken-1 font-weight-light">
                    &#x20a6;
                    <span>3000</span>
                  </p>
                  <v-divider></v-divider>
                  <p class="title blue-grey--text text--lighten-2 font-weight-light">
                    &#x20a6;
                    <span>3000</span>
                    <span class="font-weight-light body-2">x 3 item</span>
                  </p>
                </div>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
  </div>
</template>
<script>
export default {
  data() {
    return {
      panel: []
    };
  }
};
</script>
<style>
</style>
