<template>
  <div>
    <v-card class="my-3 pa-1">
      <!-- {{data.photos[0]}} -->
      <v-img height="150" src></v-img>
      <v-card-text @click="getProduct(data.id)" class="pa-2">
        <span class="font-weight-bold">{{ data.name }}</span>
        <div class="grey--text text--darken-1 text-truncate">{{ data.description }}</div>
      </v-card-text>
      <!-- <v-rating small v-model="rating"></v-rating> -->
      <v-divider class></v-divider>
      <v-card-text class="pa-3 pt-1">
        <v-chip color="grey lighten-2">{{ data.price | currency }}</v-chip>

        <v-btn rounded @click="addProductToCart(data)" color="primary" class="float-right mr-3">
          <v-icon>mdi-cart</v-icon>
        </v-btn>
      </v-card-text>

      <!-- <v-card-actions>
            <v-btn color="deep-purple accent-4" text @click="reserve">Reserve</v-btn>
      </v-card-actions>-->
    </v-card>
    <v-bottom-sheet max-width="600px" v-model="productAddedToCartSheet" inset>
      <!-- <template v-slot:activator="{ on }">
        <v-btn color="purple" dark v-on="on">login/signup</v-btn>
      </template>-->
      <v-sheet class="text-center pa-2">
        <v-btn
          class="my-2"
          depressed
          fab
          icon
          color="error"
          @click="productAddedToCartSheet = !productAddedToCartSheet"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <h4 class="headline font-weight-thin my-3">Product has been added to cart</h4>
        <v-card class="elevation-8">
          <v-layout row wrap>
            <v-flex xs3>IMAGE</v-flex>
            <v-flex xs9>
              <v-card-title>{{ data.name }}</v-card-title>
              <v-card-text class="text-left title font-weight-thin">
                {{ data.description }}
                <br />
                <strong>{{ data.price | currency }} x 1</strong>
              </v-card-text>
            </v-flex>
          </v-layout>
        </v-card>
      </v-sheet>
    </v-bottom-sheet>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  props: {
    // width:{
    // }
    data: {}
  },
  // computed: mapState({
  //   products: state => state.products.all
  // }),
  data() {
    return {
      rating: 1,
      cartSnackBar: false,
      productAddedToCartSheet: false
    };
  },
  methods: {
    // get one product from the server
    ...mapActions({
      getProduct: "products/getProduct"
    }),
    addProductToCart(product) {
      console.log(product);
      this.$store.dispatch("cart/addProductToCart", product);
      this.productAddedToCartSheet = true;
    } // cartNow(product) {
    //   console.log("cart", product);
    //   // console.log(needle);
    //   this.$store.commit("cart/addToCart", product);
    //   this.cartSnackBar = true;
    // }
  }
};
</script>

<style>
.w-auto {
  width: fit-content;
}
</style>
