<template>
  <div>
    <div class="hidden-md-and-up v-card">
      <v-btn text color="primary" @click="filterDialog=true">filter</v-btn>
      <v-divider class="mx-4" vertical></v-divider>
    </div>
    <v-layout d-flex justify-space-around class="mt-5">
      <v-flex xs12 sm6 md2 class="search-queary mt-4 hidden-sm-and-down">
        <v-expansion-panels v-model="panel" multiple accordion>
          <v-expansion-panel>
            <v-expansion-panel-header class="title font-weight-regular">Browse Categories</v-expansion-panel-header>
            <v-expansion-panel-content>Special Product</v-expansion-panel-content>
            <v-expansion-panel-content>Cars</v-expansion-panel-content>

            <v-expansion-panel-content>Clothes</v-expansion-panel-content>
            <v-expansion-panel-content>Some content</v-expansion-panel-content>
            <v-expansion-panel-content>Some content</v-expansion-panel-content>
          </v-expansion-panel>

          <v-expansion-panel>
            <v-expansion-panel-header class="title font-weight-regular">Price</v-expansion-panel-header>
            <v-expansion-panel-content>2000-5000</v-expansion-panel-content>
            <v-expansion-panel-content>5000-10000</v-expansion-panel-content>
            <v-expansion-panel-content>10000-20000</v-expansion-panel-content>
            <v-expansion-panel-content>20000-25000</v-expansion-panel-content>
          </v-expansion-panel>

          <v-expansion-panel>
            <v-expansion-panel-header class="title font-weight-regular">Price Range</v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-slider v-model="slider" :thumb-size="24" thumb-label="always"></v-slider>
              <v-layout row wrap>
                <v-flex md4 class="pa-1">
                  <v-text-field height="10" hide-details outlined></v-text-field>
                </v-flex>
                <v-flex md4 class="pa-1">
                  <v-text-field height="10" hide-details outlined></v-text-field>
                </v-flex>
                <v-flex md2>
                  <v-btn tile color="primary">
                    <v-icon>mdi-send</v-icon>
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-flex>
      <v-flex xs12 md9 align-self-left class v-if="!_.isEmpty(product)">
        <v-layout row wrap class="mb-2 hidden-sm-and-down">
          <v-flex sm6 md3 v-for="product in product" :key="product.id" class="px-1">
            <Product :data="product"></Product>
          </v-flex>
        </v-layout>
        <v-layout row wrap class="mb-2 hidden-md-and-up">
          <v-flex xs12 sm6 class="pt-2" v-for="product in product" :key="product.id">
            <v-card color="white" style="position:relative;">
              <v-list-item three-line class="px-2">
                <v-list-item-content class="align-self-start">
                  <v-list-item-title
                    class="subtitle-1 font-weight-bold mb-2 gray--text"
                  >{{product.name}}</v-list-item-title>

                  <v-list-item-subtitle class="title font-weight-light">{{product.description}}</v-list-item-subtitle>
                  <span>{{product.price}}</span>
                  <v-rating small v-model="rating"></v-rating>
                </v-list-item-content>

                <v-list-item-avatar size="125" tile>
                  <v-img src="https://cdn.vuetifyjs.com/images/cards/cooking.png"></v-img>
                </v-list-item-avatar>
                <v-btn fab outlined small color="grey lighten-1" class="cart_button">
                  <v-icon color="white">mdi-cart</v-icon>
                </v-btn>
              </v-list-item>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
      <div v-else class="align-self-left">
        <h1>404</h1>
        <br />
        <p>Product Not found</p>
      </div>
    </v-layout>
    <!-- filter dialog for small screens -->
    <v-dialog
      scrollable
      v-model="filterDialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card flat>
        <v-card-title>
          <v-toolbar flat color="white">
            <v-btn icon @click="filterDialog = false">
              <v-icon>mdi-keyboard-backspace</v-icon>
            </v-btn>
            <v-toolbar-title>Filter</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark text @click="filterDialog = false">Save</v-btn>
            </v-toolbar-items>
          </v-toolbar>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="pa-1" style="height: 300px;">
          <v-expansion-panels v-model="panel" multiple accordion class="elevation-0">
            <v-expansion-panel>
              <v-expansion-panel-header class="title font-weight-regular">Browse Categories</v-expansion-panel-header>
              <v-expansion-panel-content>Special Product</v-expansion-panel-content>
              <v-expansion-panel-content>Cars</v-expansion-panel-content>

              <v-expansion-panel-content>Clothes</v-expansion-panel-content>
              <v-expansion-panel-content>Some content</v-expansion-panel-content>
              <v-expansion-panel-content>Some content</v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header class="title font-weight-regular">Price</v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-chip-group v-model="qPrice" column>
                  <v-chip filter outlined>5000-10000</v-chip>
                  <v-chip filter outlined>10000-20000</v-chip>
                  <v-chip filter outlined>20000-30000</v-chip>
                  <v-chip filter outlined>30000-40000</v-chip>
                </v-chip-group>
              </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel>
              <v-expansion-panel-header class="title font-weight-regular">Price Range</v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-slider v-model="slider" :thumb-size="24" thumb-label="always"></v-slider>
                <v-layout row wrap>
                  <v-flex xs4 md4 class="pa-1">
                    <v-text-field height="10" hide-details outlined></v-text-field>
                  </v-flex>
                  <v-flex xs4 md4 class="pa-1">
                    <v-text-field height="10" hide-details outlined></v-text-field>
                  </v-flex>
                </v-layout>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header class="title font-weight-regular">Rating</v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-rating small v-model="qRating.rate4"></v-rating>
              </v-expansion-panel-content>
              <v-expansion-panel-content>
                <v-rating small v-model="qRating.rate3"></v-rating>
              </v-expansion-panel-content>
              <v-expansion-panel-content>
                <v-rating small v-model="qRating.rate2"></v-rating>
              </v-expansion-panel-content>
              <v-expansion-panel-content>
                <v-rating small v-model="qRating.rate1"></v-rating>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import Product from "~/components/Product.vue";

export default {
  props: {
    product: null
  },
  components: {
    Product
  },

  data() {
    return {
      // product: [],
      qPrice: "",
      qRating: {
        rate4: 4,
        rate3: 3,
        rate2: 2,
        rate1: 1
      },
      rating: 1,
      filterDialog: false,
      page: 1,
      panel: [0, 1, 2],
      min: -50,
      max: 90,
      slider: 40,
      range: [-20, 70]
    };
  },
  methods: {}
};
</script>
<style>
.search-queary {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-height: 183.125rem;
  max-width: 15.625rem;
  overflow: auto;
}

.cart_button {
  position: absolute;
  top: 14px;
  right: 2%;
  z-index: 100;
}
</style>
