<template>
  <div class="d-flex qtn-btn">
    <button class="qtn-btn-all qtn-left-btn" @click="decrement()">-</button>
    <div class="qtn-count">{{ val }}</div>
    <button class="qtn-btn-all qtn-right-btn" @click="increment()">+</button>
  </div>
</template>
<script>
export default {
  model: {
    prop: "value",
    event: "change"
  },
  props: {
    value: {
      required: true,
      type: Number,
      default: 1
    },
    min: { type: Number, default: 1 },
    max: { type: Number, default: 100 }
  },
  data() {
    return {
      currentValue: this.value
    };
  },
  methods: {
    increment() {
      if (this.max) {
        if (this.currentValue < this.max) {
          this.currentValue++;
        }
      } else {
        this.currentValue++;
      }
    },
    decrement() {
      //   if (this.min) {
      if (this.currentValue > this.min) {
        this.currentValue = this.currentValue - 1;
      }
    },
    update(e) {
      this.$emit("update", this.val);
    }
    // }
  },
  computed: {
    val: {
      get() {
        return this.currentValue;
      },
      set(val) {
        this.currentValue = val;
      }
    }
  }
};
</script>

<style>
.qtn-btn {
  background-color: #fff;
  /* border: 0.0625rem solid #d8d8d8; */
  border-radius: 0.1875rem;
  font-size: 0.9375rem;
  height: 1.875rem;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 6.25rem;
}
.qtn-btn:hover {
  box-shadow: 0 0.3125rem 0.625rem 0 hsla(0, 0%, 84.7%, 0.88);
}
.qtn-left-btn {
  border-radius: 0.1875rem 0 0 0.1875rem;
  border-right: 0.0625rem solid #d8d8d8 !important;
}
.qtn-right-btn {
  border-left: 0.0625rem solid #d8d8d8 !important;
  border-radius: 0 0.1875rem 0.1875rem 0;
}
.qtn-btn-all {
  /* border-radius: 0.1875rem 0 0 0.1875rem;
  border-right: 0.0625rem solid #d8d8d8; */
  color: #b9b9b9;
  cursor: pointer;
  font-size: 1.375rem;
  line-height: 0.9375rem;
  outline: none;
  padding: 0;
  text-align: center;
  width: 1.875rem;
}
.qtn-count {
  line-height: 1.75rem;
  white-space: nowrap;
  width: 2.5rem;
}
.qtn-btn > * {
  background-color: #fff;
  border: 0;
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
}
</style>
