<template>
  <div></div>
</template>
<script>
import { mapActions } from "vuex"
export default {
  methods: mapActions({
    syncUser: "user/syncUser"
  }),
  mounted(){
    this.syncUser()
  }
}
</script>
