<template>
  <div>
    <!-- {{product}} -->
    <v-container grid-list-xs v-if="product">
      <v-breadcrumbs :items="product.breadcrumbs">
        <template v-slot:divider>
          <v-icon>mdi-keyboard-backspace mdi-rotate-180</v-icon>
        </template>
      </v-breadcrumbs>
      <v-card flat color="transparent">
        <v-layout row wrap>
          <v-flex xs12 sm6 md5>
            <v-img height="300" src="https://cdn.vuetifyjs.com/images/cards/cooking.png"></v-img>
          </v-flex>
          <v-flex xs12 sm6 md7>
            <v-container>
              <h1 class="display-1 font-weight-light">{{ product.name }}</h1>
              <div class="d-inline">
                <div class="d-inline headline font-weight-light">
                  <span>{{ product.price | currency }}</span>
                </div>
                <div class="old_Price d-inline subtitle-2 font-weight-thin">
                  <span>&#x20a6;</span>500
                </div>
              </div>
              <v-divider class="my-3"></v-divider>
              <div class="py-3">
                <div class="d-flex">
                  Quantity :
                  <span class="pl-2">
                    <QuantityBtn :min="0" :max="100" :value="0"></QuantityBtn>
                  </span>
                </div>
              </div>
              <v-divider class="my-3"></v-divider>
              <v-btn color="primary" width="40%" @click="addProductToCart(product)">Add to cart</v-btn>
              <v-btn color="warning " width="20%">Buy</v-btn>
            </v-container>
          </v-flex>
        </v-layout>
      </v-card>

      <!-- PRODUCT SPECIFICATIONS FOR BIG SCREENS -->
      <v-layout justify-center class="hidden-sm-and-down">
        <v-card outlined class="mt-10" width="90%">
          <v-tabs v-model="tab" background-color="primary" centered dark icons-and-text>
            <v-tabs-slider></v-tabs-slider>
            <v-tab href="#tab-1">Desciption</v-tab>
            <v-tab href="#tab-2">Shipping</v-tab>
            <v-tab href="#tab-3">Return Policy</v-tab>
          </v-tabs>
          <v-tabs-items v-model="tab">
            <v-tab-item :value="'tab-1'">
              <v-card flat>
                <v-card-text>{{ product.description }}</v-card-text>
              </v-card>
            </v-tab-item>
            <v-tab-item :value="'tab-2'">
              <v-card flat>
                <v-card-text>{{ product.shipping }}</v-card-text>
              </v-card>
            </v-tab-item>
            <v-tab-item :value="'tab-3'">
              <v-card flat>
                <v-card-text>Return</v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-card>
      </v-layout>
      <!--// PRODUCT SPECIFICATIONS FOR BIG SCREENS -->

      <!-- PRODUCT SPECIFICATIONS FOR SMALL SCREENS -->
      <v-layout justify-center class="hidden-md-and-up mt-10">
        <v-expansion-panels accordion>
          <v-expansion-panel>
            <v-expansion-panel-header class="subtitle-1 font-weight-bold">Description</v-expansion-panel-header>
            <v-expansion-panel-content>{{ product.description }}</v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header class="subtitle-1 font-weight-bold">Shipping</v-expansion-panel-header>
            <v-expansion-panel-content>{{ product.shipping }}</v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header class="subtitle-1 font-weight-bold">Return Policy</v-expansion-panel-header>
            <v-expansion-panel-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-layout>
      <!-- // PRODUCT SPECIFICATIONS FOR SMALL SCREENS -->

      <!--  RELATED PRODUCTS  -->
      <div v-if="!_.isEmpty(product.related)">
        <h3 class="headline mt-10 font-weight-light">Related Products</h3>
        <v-layout justify-start row wrap class="hidden-sm-and-down">
          <v-flex xs12 sm6 md3 pa-2 v-for="product in product.related" :key="product.id">
            <Product :data="product"></Product>
          </v-flex>
        </v-layout>
        <!--  RELATED PRODUCTS FOR MOBILE -->
        <v-slide-group v-model="model" class="hidden-md-and-up">
          <v-slide-item v-for="product in product.related" :key="product.id">
            <div class="w-half pa-2">
              <Product :data="product"></Product>
            </div>
          </v-slide-item>
        </v-slide-group>
      </div>
      <!-- // RELATED PRODUCTS FOR MOBILE -->
      <!--// RELATED PRODUCTS  -->
    </v-container>

    <v-container grid-list-xs v-else>
      <h3>404?</h3>
    </v-container>
  </div>
</template>
<script>
import QuantityBtn from "~/components/Quantity-Button.vue";
import Product from "~/components/Product.vue";
import { mapState } from "vuex";
export default {
  components: {
    QuantityBtn,
    Product
  },
  data() {
    return {
      tab: null,
      model: null,
      id: "",
    };
  },
  computed: {
    
    ...mapState({
      product: state => state.products.thisProduct
    })
    
  },
  mounted() {
    console.log("product", this.product);
  },
  methods: {
    addProductToCart(product) {
      console.log(product);
      this.$store.dispatch("cart/addProductToCart", product);
      this.productAddedToCartSheet = true;
    }
  },
  watch: {
    // $route(to, from, next) {
    // // mapState({
    // //   product: state => state.products.thisProduct
    // // })
    // }
  }
};
</script>
<style>
.old_Price {
  text-decoration: line-through;
}
.w-half {
  width: 270px;
}
</style>

