<template>
  <div>
    <v-container grid-list-xs>
      <v-layout row wrap justify-center>
        <v-flex xs12 sm9 md6 pa-2>
          <v-card flat justify-center class="elevation-3">
            <v-toolbar fluid fill-height class="grey lighten-5 elevation-0 text-xs-center">
              <v-toolbar-title class="primary--text display-1 font-weight-light">Contact Information</v-toolbar-title>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text>
              <v-form v-model="valid">
                <v-text-field
                  :rules="emailAddressRules"
                  outlined
                  v-model="email"
                  label="Email"
                  required
                  class="form_inputs"
                ></v-text-field>
                <v-text-field
                  outlined
                  class="form_inputs"
                  v-model="fullName"
                  label="Contact Name"
                  required
                ></v-text-field>
                <v-combobox
                  outlined
                  v-model="country"
                  :rules="countryRules"
                  :items="countries"
                  label="Country/Region"
                  required
                  class="form_inputs"
                ></v-combobox>
                <v-combobox
                  outlined
                  v-model="state"
                  :rules="stateRules"
                  :items="country=='Nigeria' ? nigeriaState : ''"
                  label="State/Province/Region"
                  required
                  class="form_inputs"
                ></v-combobox>
                <v-combobox
                  outlined
                  v-model="city"
                  :rules="cityRules"
                  label="City"
                  required
                  class="form_inputs"
                ></v-combobox>
                <v-text-field
                  outlined
                  v-model="address"
                  :rules="addressRules"
                  label="Street Address"
                  required
                  class="form_inputs"
                ></v-text-field>

                <v-text-field
                  outlined
                  v-model="phoneNumber"
                  :rules="phoneNumberRules"
                  label="Phone Number"
                  required
                  class="form_inputs"
                ></v-text-field>
                <v-btn :disabled="!valid" @click="firstShippingInfo()" class="primary">Send</v-btn>
              </v-form>
            </v-card-text>
          </v-card>
        </v-flex>

        <v-flex xs12 sm9 md6 pa-2>
          <v-card>
            <v-toolbar class="grey lighten-5 elevation-0">
              <v-toolbar-title
                class="text-xs-center primary--text display-1 font-weight-light"
              >Payment</v-toolbar-title>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="headline">
              Sub Total {{ cartTotalPrice | currency }}
              <v-divider />
              <v-card-text
                class="grey--text pl-0"
                v-if="country != 'Nigeria'"
              >Shipping Fee: {{ 3000 | currency }}</v-card-text>

              <v-card-text
                class="grey--text pl-0"
                v-if="country == 'Nigeria'"
              >Delivry Price: {{ 4000 | currency }}</v-card-text>
              Total {{ 5000+cartTotalPrice | currency }}
            </v-card-text>
            <v-card-actions>
              <!-- <paystack
                class="ma-2"
                :amount="totalPrice"
                :email="email"
                :paystackkey="paystackkey"
                :reference="reference"
                :callback="callback"
                :close="close"
                :embed="false"
                :disabled="!valid"
              >
                <v-btn :disabled="!valid" class="primary">Pay</v-btn>
              </paystack>-->
              <!-- 

              -->

              <v-btn class="secondary" to="/cart/overview">View Cart</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
      <!-- <script src="https://js.paystack.co/v1/inline.js"></script> -->
      <v-snackbar multi-line top v-model="alert.key">{{ alert.text }}</v-snackbar>
    </v-container>
  </div>
</template>

<script>
// import paystack from "vue-paystack";
import { mapGetters } from "vuex";

// var paystack;
// if (typeof window === "undefined") {
//   paystack = require("vue-paystack");
// }
//
// if (process.client) {
//   require('vue-paystack');
// }
export default {
  // layout:''
  head() {
    return {
      script: [{ src: "https://js.paystack.co/v1/inline.js" }]
    };
  },
  components: {
    // paystack
    // paystack: () => import("vue-paystack")
  },

  data() {
    return {
      dialog: false,
      paystackkey: "pk_live_e27276ebe9730a3e02f3d1d635653fe8d48edd46", //paystack public key
      email: "", // Customer email
      amount: "", // in kobo
      reference: "",

      valid: false,
      country: "Nigeria",
      city: "",
      phoneNumber: "",
      state: "",
      address: "",
      countries: ["Nigeria", "Ghana", "Keyena", "South Africa", "USA"],
      nigeriaState: ["Abia", "Sokoto", "Taraba", "Yobe", "Zamfara"],
      nigeriaCities: [],
      nigeriaArea: [
        {
          state: "Oyo",
          lgas: [
            "Afijio",
            "Akinyele",
            "Atiba",
            "Atigbo",
            "Egbeda",
            "Ibadan-Central",
            "Ibadan-North-East",
            "Ibadan-North-West",
            "Ibadan-South-East",
            "Ibadan-South-West",
            "Ibarapa-Central",
            "Ibarapa-East",
            "Ibarapa-North",
            "Ido",
            "Ifedayo",
            "Ifeloju",
            "Irepo",
            "Iseyin",
            "Itseiwaju",
            "Iwajowa",
            "Kajola",
            "Lagelu",
            "Odo-Oluwa",
            "Ogbomosho-North",
            "Ogbomosho-South",
            "Olorunsogo",
            "Oluyole",
            "Ona-Ara",
            "Orelope",
            "Ori-Ire",
            "Oyo-West",
            "Saki-East",
            "Saki-West",
            "Surulere"
          ]
        },
        {
          state: "Plateau",
          lgas: [
            "Barkin-Ladi",
            "Bassa",
            "Bokkos",
            "Jos-East",
            "Jos-North",
            "Jos-South",
            "Kanam",
            "Kanke",
            "Langtang-North",
            "Langtang-South",
            "Mangu",
            "Mikang",
            "Pankshin",
            "Quan'Anpan",
            "Riyom",
            "Shendam",
            "Wase"
          ]
        },

        {
          state: "Yobe",
          lgas: [
            "Bade",
            "Borsali",
            "Damaturu",
            "Fika",
            "Fune",
            "Geidam",
            "Gogaram",
            "Gujba",
            "Gulani",
            "Jakusko",
            "Karasuwa",
            "Machina",
            "Nangere",
            "Nguru",
            "Potiskum",
            "Tarmua",
            "Yunusari",
            "Yusufari"
          ]
        },
        {
          state: "Zamfara",
          lgas: [
            "Anka",
            "Bakura",
            "Bukkuyum",
            "Bungudu",
            "Gumi",
            "Gusau",
            "Isa",
            "Kaura-Namoda",
            "Kiyawa",
            "Maradun",
            "Maru",
            "Shinkafi",
            "Talata-Mafara",
            "Tsafe",
            "Zurmi"
          ]
        }
      ],
      // RULES
      emailAddressRules: [
        v => !!v || "E-mail is required",
        v =>
          /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "E-mail must be valid"
      ],
      cityRules: [v => !!v || "City is required"],
      stateRules: [v => !!v || "State is required"],
      countryRules: [v => !!v || "Country is required"],
      phoneNumberRules: [v => !!v || "Phone number is required"],
      addressRules: [v => !!v || "Address is required"],
      // SIGNUP
      alert: {
        key: false,
        text: ""
      },
      loader: false,
      valid: false,
      fullName: "",
      fullNameRules: [
        v => !!v || "Full Name is required",
        v =>
          (v && v.length <= 20) || "Full Name must be less than 20 characters"
      ],

      confirmPassword: "",
      confirmPasswordRules: [
        v => !!v || "confirm password is required",
        v => v == this.password || "passwords must match"
      ],
      showConfirmPassword: false,
      showPassword: false,
      password: "",
      passwordRules: [
        v => !!v || "password is required"
        // v => /^(?=.*[A-Z])/.test(v) || "password must contain one Case Letter",
        // v =>
        //   /^(?=.*[$@$!%* #=+\(\)\^?&])/.test(v) ||
        //   "password must contain one special character",
        // v => /^(?=.*[0-9])/.test(v) || "password must contain one Number",
        // v => (v && v.length > 7) || "Password must not be less then 7"
      ],
      AcceptTerms: false
    };
  },
  computed: {
    ...mapGetters({
      cartProducts: "cart/cartProducts",

      cartTotalPrice: "cart/cartTotalPrice"
    }),
    nigState() {},
    // shippingFee() {
    //   var fee;
    //   _.reduce(this.cartProducts, (q, w) => {
    //     fee = _.toNumber(q.shipping.price) + _.toNumber(w.shipping.price);
    //   });
    //   return fee;
    // },

    // deliveryPrice() {
    //   return _.sumBy(this.cartItems, function(o) {
    //     return o.deliveryPrice;
    //   });
    // },
    // shippingPrice() {
    //   return _.sumBy(this.cartItems, function(o) {
    //     return o.shipping;
    //   });
    // },
    // cartItems() {
    //   return this.$store.state.cart;
    // },
    // totalPrice() {
    //   if (this.country == "Nigeria") {
    //     return this.subTotal + this.deliveryPrice;
    //   } else {
    //     return this.subTotal + this.shippingPrice;
    //   }
    // },
    // subTotal() {
    //   return _.sumBy(this.cartItems, function(o) {
    //     return o.price * o.quantity;
    //   });
    // var total;
    // if (this.cartItems.length === 1) {
    //   total = this.cartItems[0].price * this.cartItems[0].quantity;
    // } else if (this.cartItems.length > 1) {
    //   this.cartItems.reduce(
    //     (v, i) =>
    //       (total =
    //         Number(v.price * v.quantity) + Number(i.price * i.quantity))
    //   );
    // }
    // return total;
    // },
    // user() {
    //   return this.$store.state.user;
    // },
    // cart() {
    //   return this.$store.state.cart;
    // }
  },
  mounted() {
    this.getOrderFormDetails();
    function convertNairaToKobo(amount) {
      amount = amount * 100;
      return Number(amount);
    }

    this.amount = convertNairaToKobo(this.totalPrice);
    // if (this.user.fullName) {
    //   this.fullName = this.user.fullName;
    //   this.email = this.user.emailAddress;
    //   // this.email = this.user.emailAddress;
    // } else {
    //   this.fullName = "";
    //   // this.emailAddress = "";
    //   this.email = "";
    // }

    this.reference = Math.random()
      .toString(36)
      .substring(7);
    // this.nigState();
  },

  methods: {
    callback(response) {
      if (
        (typeof response === "string" && response.message === "Approved") ||
        response.trxref
      ) {
        this.saveShippingInfo();
      }
    },
    close() {
      console.log("Payment closed");
    },
    firstShippingInfo() {
      if (!this.user.id || _.isEmpty(this.user)) {
        // popout dialogform
        this.dialog = true;
      } else {
        this.saveShippingInfo();
      }
    },

    saveShippingInfo() {
      // console.log(JSON.stringify(this.cartItems));
      if (this.valid) {
        this.$axios
          .post("/api/v1/cart/save-order-info", {
            country: this.country,
            state: this.state,
            city: this.city,
            phoneNumber: this.phoneNumber,
            fullName: this.fullName,
            address: this.address,
            emailAddress: this.email,
            products: this.cartItems,
            billingInfo: {
              //   total: this.totalPrice,
              //   shippingFee: this.shippingFee,
              //   subTotal: this.subTotal
            }
          })
          .then(({ data }) => {
            console.log(data);
            this.$router.push("/user/orders");
            // this.$router.push("/orders");
          })
          .catch(e => {});
      }
    },
    getOrderFormDetails() {
      // this.$axios
      //   .get("/cart/get-order-info")
      //   .then(({ data }) => {
      //     console.log(data);
      //   })
      //   .catch(error => {});
    }
  }
};
</script>

<style>
</style>
