<template>
  <div>
    <v-container grid-list-md>
      <v-layout row wrap v-if="cartLength > 0">
        <!-- LOOPED PRODUCT -->
        <v-flex xs12 md8 v-for="item in cartProducts" :key="item.id" class="mb-3">
          <v-layout row wrap align-center>
            <v-flex xs12 sm4 md3 :class="$vuetify.breakpoint.smAndDown?'pb-0':''">
              <v-img
                :height="$vuetify.breakpoint.smAndDown? 200:'100%'"
                :src="`https://picsum.photos/500/300?image=10`"
                aspect-ratio="1"
                class="grey lighten-2"
              ></v-img>
            </v-flex>
            <v-flex xs12 sm8 md9 :class="$vuetify.breakpoint.smAndDown?'pt-0':''">
              <v-layout row wrap>
                <v-flex xs12 :class="$vuetify.breakpoint.smAndDown?'pb-0':''">
                  <v-card tile @click="getProduct(item.id)">
                    <v-card-title class="font-weight-light blue--text">
                      {{ item.name }}
                      <span
                        class="subtitle-2 font-weight-thin blue--text text--darken-4"
                      >&nbsp;&nbsp;&nbsp;{{ item.price | currency }}</span>
                    </v-card-title>
                    <v-card-text>{{ item.description }}</v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 :class="$vuetify.breakpoint.smAndDown?'pt-0':''">
                  <v-card tile class="d-flex justify-space-between">
                    <v-card-title>
                      <QuantityBtn v-model="item.quantity"></QuantityBtn>
                    </v-card-title>
                    <span class="blue white--text pa-4">{{ item.price | currency }}</span>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
        <!-- TOTAL OVERVIEW  -->
        <v-flex xs12 md4 class="text-center">
          <v-card>
            <v-card-title>
              Total: &nbsp;
              <span class="grey--text">{{ cartTotalPrice | currency }}</span>
            </v-card-title>
            <v-card-text>Order deals may come here and in between, keep a cool head and do a nice job, Qui?</v-card-text>
            <v-btn color="primary" dark to="check-out">Continue To Check</v-btn>
          </v-card>
        </v-flex>
        <!--// TOTAL OVERVIEW  -->
      </v-layout>
      <v-layout justify-center v-else>
        <v-card flat>
          <v-card-text class="text-center">
            <v-icon color="primary" size="150">mdi-cart-off</v-icon>
            <h3 class="headline">Your cart is empty.</h3>You have not added any item to your cart.
            <br />
            <v-btn color="primary " class="mt-5 mb-2" to="/" outlined>start Shoping</v-btn>
          </v-card-text>
        </v-card>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import QuantityBtn from "~/components/Quantity-Button.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  scrollToTop: true,
  components: {
    QuantityBtn
  },
  head() {
    return {
      title: `Shopping Cart - ${
        this.cartLength == 0 ? "" : this.cartLength
      } items in cart`
    };
  },
  computed: {
    ...mapGetters({
      cartProducts: "cart/cartProducts",
      cartTotalPrice: "cart/cartTotalPrice",
      cartLength: "cart/cartLength"
    }),
  },
  methods: mapActions({
    getProduct: "products/getProduct",
    removeProductFromCart: "cart/removeProductFromCart"
  })
};
</script>

<style scope>
.firstCol {
  position: relative;
  top: -20px;
  transform: tranlate(30px);
}
#btn {
  background-color: white;
}
</style>