<template>
  <v-card-text
    class="card-skeleton__media"
    :class="defaultAnimation?'beautifulDefalut':''"
    :style="`height:${height};width:${width};`"
  ></v-card-text>
</template>

<script>
export default {
  //   name: "",
  props: ["height", "width", "defaultAnimation"]
};
</script>

<style scoped>
.card-skeleton__media {
  background-color: grey;
  /* height: 200px; */
  width: auto;
}
</style>