<template>
  <div>
    <category :data="product" :categoryName="$route.params.category"></category>
  </div>
</template>
<script>
import category from "~/components/category.vue";

export default {
  // layout: "blank",
  components: {
    category
  },
  data() {
    return {
      product: null
    };
  },
  methods: {
    getProductByTheCategory() {
      console.log(_.startCase(_.toLower(this.$route.params.category)))
      this.$axios
        .get("/api/v1/category/find-products", {
          params: {
            category: _.startCase(_.toLower(this.$route.params.category))
          }
        })
        .then(({ data }) => {
          this.product = data;
        });
    }
  },
  mounted() {
    this.getProductByTheCategory();
    console.log(this.$route.params);
    // console.log(this.$route.params);
  }
};
</script>
