<template>
  <div>
    <v-container grid-list-xs>
      <v-layout>
        <v-flex xs12>
          <v-card class="elevation-7 mb-5 user-board user-board-border">
            <v-card-text class="text-center">
              <v-layout row wrap justify-center>
                <v-flex xs12 class="text-center">
                  <v-card-title class="text-center">
                    <div class="ml-auto mr-auto">
                      <h4 class="display-1 font-weight-light mb-1">
                        Your
                        referal code
                      </h4>
                      <p
                        class="lead text-xs-center mb-1"
                      >Refer a frined and get 2.3% of his intial purchase or investment</p>
                    </div>
                  </v-card-title>
                </v-flex>
                <v-flex xs12>
                  <v-chip class="pa-4" height="fit-content" color="black" label outlined>
                    <i
                      class="font-weight-light lead"
                      id="ref"
                    >{{`https://unecem.com/auth/signup?ref=${user.id}`}}</i>
                  </v-chip>
                  <v-btn icon tile title="Copy Link" @click="selectText('ref')">
                    <v-icon>mdi-content-copy</v-icon>
                  </v-btn>
                  <p class="lead text-center mb-1">
                    Click the icon to copy
                    your
                    referal link
                  </p>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>

      <v-layout row wrap justify-center class="hidden-sm-and-down">
        <v-flex
          xs12
          sm12
          md6
          v-for="(investment) in user.investments"
          :key="investment.id"
          class="pa-3"
        >
          <v-card dark color="white">
            <div>
              <!-- <v-flex xs2 text-center> -->
              <h4
                class="title text-center grey--text font-weight-light text--lighten-1"
              >{{investment.createdAt | moment("MMMM DD, YYYY")}}</h4>
              <!-- </v-flex> -->
              <!-- <v-flex xs10 class="light-blue"> -->

              <!-- <p class="black-text">{{investment}}</p> -->
              <v-simple-table light fixed-header>
                <thead>
                  <tr class>
                    <th class="text-left">Amount</th>
                    <th class="text-left">Profit</th>
                    <th class="text-left">Payout</th>
                    <th class="text-left">Due for check Out</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ investment.amount | currency }}</td>
                    <td>{{ investment.profit | currency }}</td>
                    <td>{{ investment.payout | currency }}</td>
                    <td>
                      <v-btn dark color="blue">fasle</v-btn>
                    </td>
                  </tr>
                </tbody>
              </v-simple-table>
              <!-- </v-flex> -->
            </div>
          </v-card>
        </v-flex>
        <!-- <v-flex xs12 sm6 md6 class="mb-4">
          <v-card class="m user-board" color="grad1" dark>
            <v-card-text class="font-weight-regular">
              <v-layout row wrap justify-center>
                <v-flex xs6>
                  <h3 class="display-1 font-weight-light">Referal Bonus</h3>
                  <br />
                  <h3 class="title text-center font-weight-light">6000</h3>
                </v-flex>
                <br />
                <v-flex xs6>
                  <h3 class="display-1 font-weight-light">Account Total</h3>
                  <br />
                  <h3 class="title text-center font-weight-light">6000</h3>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-btn color="primary" tile width="40%">Invest</v-btn>-->
      </v-layout>
      <v-layout row wrap justify-center class="hidden-sm-and-up">
        <v-flex xs12 sm12 v-for="(investment) in user.investments" :key="investment.id" class="my-1">
          <v-card height="200">
            <v-card-title>{{investment.createdAt | moment("MMMM DD, YYYY")}}</v-card-title>
            <v-divider ></v-divider>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-center>
        <v-card width="100%">
          <v-card-title>Referals</v-card-title>
          <v-data-table hide-default-header :headers="headers" :items="user.referedUsers">
            <template v-slot:item.createdAt="{ item }">{{item.createdAt | moment("MMMM DD, YYYY") }}</template>
          </v-data-table>
          <!-- {{user.referedUsers[0].referedUser}} -->
        </v-card>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import { mapState } from "vuex";
export default {
  // layout: "dashboard",
  
  scrollToTop: true,
  head() {
    return {
      title: "Dashboard Activites"
    };
  },
  data() {
    return {
      investment1: [
        {
          amount: "$4000",
          profit: 159,
          payout: 4000
        }
      ],

      // referals
      headers: [
        { text: "Full Name", value: "referedUser.fullName" },
        ,
        // { text: "Date", sortable: false, value: "emailAddress" }
        { text: "Date", sortable: false, value: "createdAt" }
      ]
    };
  },
  methods: {
    //
    /**
    Copy referal code to clipboard fall back for ie and lower firefox
     */
    fallbackCopyTextToClipboard(text) {
      var textArea = document.createElement("textarea");
      var iD = document.getElementById("ref");
      iD.style.backgroundColor = "#3f51b5";
      iD.style.color = "#fff";
      setTimeout(() => {
        iD.style.backgroundColor = "#fff";
        iD.style.color = "black";
      }, 1000);
      textArea.value = text;
      document.body.appendChild(textArea);
      textArea.focus();
      textArea.select();
      try {
        var successful = document.execCommand("copy");
        var msg = successful ? "successful" : "unsuccessful";
        //console.log(" Copying text command was " + msg);
      } catch (err) {
        //console.error("Oops, unable to copy", err);
      }

      document.body.removeChild(textArea);
    },
    /**
    copy ref id to clipboard
     */
    selectText(id) {
      var text = document.getElementById(id).innerText;

      var doc = document;
      var tex = doc.getElementById(id);
      if (doc.body.createTextRange) {
        // ms
        var range = doc.body.createTextRange();
        range.moveToElementText(tex);
        range.select();
      } else if (window.getSelection) {
        var selection = window.getSelection();
        var range = doc.createRange();
        range.selectNodeContents(tex);
        selection.removeAllRanges();
        selection.addRange(range);
      }
      if (!navigator.clipboard) {
        this.fallbackCopyTextToClipboard(text);

        return;
      }
      navigator.clipboard.writeText(text).then(
        function() {
          //console.log("Copying to clipboard was successful!");
        },
        function(err) {
          //console.error(err);
        }
      );
    }
  },
  computed: {
    ...mapState({ user: state => state.user })
  }
};
</script>
<style scoped>
.ref {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .ref {
    width: 70%;
  }
}

#ref::selection {
  background: #6478ec;
  color: rgb(255, 255, 255);
}

#ref::-moz-selection {
  background: #6478ec;
  color: rgb(255, 255, 255);
}

#ref::-webkit-selection {
  background: #6478ec;
  color: rgb(255, 255, 255);
}
.user-board {
  border-radius: 10px;
}
.no-rad {
  border-radius: 0px !important;
}
.user-board-border {
  /* background-color: #c8e4f8b4; */
  border: 1px solid #b4b4b478;
}
.grad1 {
  background-color: #fad961;
  background-image: linear-gradient(156deg, #fad961 0%, #f76b1c 100%);
}
.grad2 {
  background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}
</style>
