<template>
  <div>
    <v-container grid-list-md>
      <v-layout row wrap justify-center>
        <v-flex xs12 sm8 md6>
          <v-card id="david_id" justify-center class="elevation-6">
            <v-toolbar text color="primary">
              <v-toolbar-title class="text-xs-center white--text">Invest</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <p class="title amber--text text--darken-3">Minimum of 50,000 NGN</p>
              <v-form v-model="valid">
                <v-text-field
                  class="form_inputs"
                  prepend-icon="mdi-cash"
                  v-model.trim="investmentAmout"
                  :rules="investRules"
                  label="Amount"
                  required
                  outlined
                ></v-text-field>
                <h3
                  class="headline gray--text text--darken-2 font-weight-regular"
                >{{ investmentAmout | currency}}</h3>
                <br />
              </v-form>
              <no-ssr>
                <!-- <paystack
                  class="ma-2"
                  :amount="amountWithNoComma|| investmentAmout *100"
                  :email="user.emailAddress"
                  :paystackkey="paystackkey"
                  :reference="reference"
                  :callback="callback"
                  :close="close"
                  :embed="false"
                  :disabled="!valid"
                  :loading="loading"
                >-->
                <v-btn
                  block
                  :disabled="!valid"
                  :loading="loading"
                  @click="invest()"
                  color="primary"
                >Invest</v-btn>
                <!-- </paystack> -->
              </no-ssr>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-snackbar top right v-model="snackbar" :color="snackbarColor" :timeout="snackbarTimeout">
      {{ snackbarText }}
      <v-btn color="white" icon text @click="snackbar = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
  </div>
  <!-- // Number(investmentAmout *100) -->
</template>
<script>
// import paystack from "vue-paystack";
// let paystack;
// // if (process.client) {
// //   require("vue-paystack");
// // }
import { mapState, mapActions } from "vuex";
export default {
  // layout: "dashboard",
  scrollToTop: true,
  components: {
    // paystack,
    paystack: () => import("vue-paystack")
  },

  head() {
    return {
      title: "Invest"
    };
  },
  data() {
    return {
      snackbar: false,
      snackbarTimeout: 5000,
      snackbarColor: "primary",
      snackbarText: "Amount Not Acceptable",
      paystackkey: "pk_live_e27276ebe9730a3e02f3d1d635653fe8d48edd46", //paystack public key
      reference: "",
      loading: false,
      valid: false,
      loader: false,

      alert: {
        key: false,
        text: ""
      },
      investmentAmout: "",
      investRules: [
        v => !!v || "Amount is required",
        v => v >= 50000 || "Invaild Amount",
        v =>
          /^\+?(0|[1-9]\d*)$/.test(v) ||
          "Amount must not contain any character other than positive numbers"
        // v => v.length <= 10 || "Name must be less than 10 characters"
      ],
      form: false,
      pay: ""
    };
  },
  beforeMount() {},
  mounted() {
    this.$nextTick(function() {
      this.pay = "paystack";
    });
  },
  methods: {
    invest() {
      this.$store
        .dispatch("user/makeAnInvestment", this.investmentAmout)
        .then(res => {
          // console.log("res", res);
          this.snackbar = true;
          this.snackbarText = "sucessfull";
          this.snackbarColor = "green";
        })
        .catch(err => {
          this.snackbar = true;
          this.snackbarText =
            "An Unexpected error occurred";
          this.snackbarColor = "red";
          // console.log("err", err);
        });
    },
    close() {},
    callback(res) {
      this.loading = true;
      if (res.status == "success") {
        this.invest();
        this.loading = false;
      } else {
        this.loading = false;
      }
    },
    addCommas(val) {
      // nStr += "";
      // var x = nStr.split(".");
      // var x1 = x[0];
      // var x2 = x.length > 1 ? "." + x[1] : "";
      // var rgx = /(\d+)(\d{3})/;
      // while (rgx.test(x1)) {
      //   x1 = x1.replace(rgx, "$1" + "," + "$2");
      // }

      // var e = x1 + x2;
      // this.investmentAmout = e;
      // console.log(this.investmentAmout.replace(/(?<!\..*)(\d)(?=(?:\d{3})+(?:\.|$))/g, "$1,"))

      this.investmentAmout = val
        .replace
        // /(?<!\..*)(\d)(?=(?:\d{3})+(?:\.|$))/g,
        // "$1,"
        ();
    }

    // kobo to
  },
  computed: {
    amountWithNoComma(val) {
      // return parseFloat(val.replace(/,/g, ""));
    },
    ...mapState({ user: state => state.user.me })
  }
};
</script>

<style>
.h {
  height: 20%;
  background: white;
}
</style>
