<template>
  <div>
    <v-container>
      <orders></orders>
    </v-container>
  </div>
</template>
<script>
import orders from "~/components/Orders.vue";

export default {
  //   layout: "blank",
  // layout: "dashboard",
  scrollToTop: true,

  components: {
    orders
  },
  head() {
    return {
      title: "My Orders"
    };
  },
  data() {
    return {};
  }
};
</script>
