<template>
  <div>
    <v-container grid-list-xs class="hidden-sm-and-down">
      <v-layout justify-center align-center>
        <v-card class="text-center py-3" width="500">
          <v-card-text>
            <h4 class="headline font-weight-light pb-4">Account Information</h4>
            <v-text-field v-model="fullName" outlined label="Full Name"></v-text-field>

            <v-text-field v-model="email" label="Email" outlined></v-text-field>

            <v-text-field v-model="currentPassword" label="Current Password" outlined></v-text-field>

            <v-text-field v-model="newPassword" outlined label="New Password"></v-text-field>

            <v-text-field v-model="confirmNewPassowrd" outlined label="Confirm New Password"></v-text-field>
          </v-card-text>
          <v-btn rounded color="primary" @click="updateProfile">Update Changes</v-btn>
        </v-card>
      </v-layout>
    </v-container>
    <v-expansion-panels class="hidden-md-and-up">
      <!-- firstName Panel -->
      <v-expansion-panel>
        <v-expansion-panel-header v-slot="{ open }">
          <v-layout>
            <v-flex xs12>
              Full Name :
              <span class="d-inline" v-if="fullName">{{fullName}}</span>
            </v-flex>
          </v-layout>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-text-field v-model="fullName" outlined placeholder="first name"></v-text-field>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <!-- email non editable panel -->
      <v-expansion-panel>
        <v-expansion-panel-header v-slot="{ open }">
          <v-layout>
            <v-flex xs12>
              Email :
              <span class="d-inline" v-if="email">{{email}}</span>
            </v-flex>
          </v-layout>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-text-field v-model="email" outlined placeholder="Email"></v-text-field>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <!-- Password panel -->
      <v-expansion-panel>
        <v-expansion-panel-header v-slot="{ open }">
          <v-layout>
            <v-flex xs12>Change Password</v-flex>
          </v-layout>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-text-field v-model="currentPassword" outlined placeholder="current password"></v-text-field>
          <v-text-field v-model="newPassword" outlined placeholder="New password"></v-text-field>
          <v-text-field v-model="confirmNewPassowrd" outlined placeholder="Confirm New password"></v-text-field>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-container class="hidden-md-and-up">
      <v-btn rounded color="primary" @click="updateProfile">Update Changes</v-btn>
    </v-container>
    <v-snackbar top right v-model="snackbar" :color="snackbarColor" :timeout="snackbarTimeout">
      {{ snackbarText }}
      <v-btn color="white" icon text @click="snackbar = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
  </div>
</template>
<script>
// import { mapState } from "vuex";
import { mapActions } from "vuex";

export default {
  // layout: "dashboard",
  scrollToTop: true,
  head() {
    return {
      title: "My Profile"
    };
  },
  data() {
    return {
      snackbar: false,
      snackbarTimeout: 5000,
      snackbarColor: "primary",
      snackbarText: "",
      fullName: "",
      email: "",
      currentPassword: "",
      newPassword: "",
      confirmNewPassowrd: ""
    };
  },
  // methods: mapActions({
  //   updateProfile: "user/updateProfile"
  // }),
  methods: {
    updateProfile() {
      this.$store
        .dispatch("user/updateProfile", {
          fullName: this.fullName,
          password: this.newPassword,
          oldPassword: this.currentPassword,
          emailAddress: this.email
        })
        .then(res => {
          // console.log("res", res);
          this.snackbar = true;
          this.snackbarText = "Profile sucessfully updated";
          this.snackbarColor = "green";
        })
        .catch(err => {
          this.snackbar = true;
          this.snackbarText =
            "An error occurred while trying to update your Profile";
          this.snackbarColor = "red";
          // console.log("err", err);
        });
    }
  },
  mounted() {
    // console.log;
  },
  computed: {
    // ...mapState({
    //   user: state => state.user.me
    // })
  }
};
</script>

<style>
.v-expansion-panel--active:not(:first-child),
.v-expansion-panel--active + .v-expansion-panel {
  margin-top: 5px !important;
  border-top: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 0% !important;
}
.v-expansion-panel::before {
  /* transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow; */
  box-shadow: none !important;
}
</style>
